.auto-complete-list {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  width: 100%;
  list-style: none;
  max-height: 500px;
  overflow: scroll;
}

.auto-complete-list::-webkit-scrollbar {
  padding: 0;
  width: 0;
  margin: 0;
}

.auto-complete-list-item {
  padding: 10px;
}

.auto-complete-list-item:hover {
  cursor: pointer;
}

.highlighted {
  background-color: #d8f9ff;
}
