.auto-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  max-width: 550px;
  color: #555555;
}

.auto-complete-inp-btn {
  display: flex;
  padding: 5px;
  max-height: 40px;
}